In [2]:
print ("Hello, World!")

Hello, World!

# List

In [5]:
list1 = ['physics', 'chemistry', 1997, 2000];
list2 = [1, 2, 3, 4, 5, 6, 7 ];
print (list1[0])

physics

In [6]:
print (list2[1:5])

[2, 3, 4, 5]

In [8]:
list1 = ['physics', 'chemistry', 1997, 2000];
print (list1)
del list1[2];
print ("After deleting value at index 2 : ")
print (list1)

['physics', 'chemistry', 1997, 2000]
After deleting value at index 2 :
['physics', 'chemistry', 2000]

In [10]:
li = [1,2,3,4,6,7,8,9]
li.insert(4,5) 
print(li)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [11]:
li = [1,2,1,3]
li.remove(1)
print(li)

[2, 1, 3]

In [12]:
li = [1,2,1,3]
li.pop() 
print(li)

[1, 2, 1]

In [13]:
my_list = ['p', 'r', 'o', 'b', 'e']

# first item
print(my_list[0])  # p

# third item
print(my_list[2])  # o

# fifth item
print(my_list[4])  # e

# Nested List
n_list = ["Happy", [2, 0, 1, 5]]

# Nested indexing
print(n_list[0][1])

print(n_list[1][3])

# Error! Only integer can be used for indexing
print(my_list[4.0])

p
o
e
a
5

TypeError: ignored

In [15]:
#List slicing in Python

my_list = ['p','r','o','g','r','a','m','i','z']

# elements from index 2 to index 4
print(my_list[2:5])

# elements from index 5 to end
print(my_list[5:])

# elements beginning to end
print(my_list[:])

['o', 'g', 'r']
['a', 'm', 'i', 'z']
['p', 'r', 'o', 'g', 'r', 'a', 'm', 'i', 'z']

In [16]:
# Concatenating and repeating lists
odd = [1, 3, 5]

print(odd + [9, 7, 5])

print(["re"] * 3)

[1, 3, 5, 9, 7, 5]
['re', 're', 're']

In [17]:
dd = [1, 9]
odd.insert(1,3)

print(odd)

odd[2:2] = [5, 7]

print(odd)

[1, 3, 3, 5]
[1, 3, 5, 7, 3, 5]

In [9]:
a = 50
b = 180
c = 7
if(a>b and a>c):
    print(a,"is greatest")
elif(b>a and b>c):
    print(b,"is greatest")
elif(c>a and c>b):
    print(c,"is greatest")
else:
    print("At least two numbers are equal")

180 is greatest

# set

In [18]:
first_set = set(("Connor", 32, (1, 2, 3)))
first_set

{(1, 2, 3), 32, 'Connor'}

In [19]:
second_set = set("Connor")
second_set

{'C', 'n', 'o', 'r'}

In [4]:
add_set = set((1, 2, 3, 4))
add_set

{1, 2, 3, 4}

In [6]:
add_set.update(("cello", "violin"))
add_set

{1, 2, 3, 4, 'cello', 'violin'}

In [7]:
sub_set = add_set
sub_set.remove("violin")
sub_set

{1, 2, 3, 4, 'cello'}

In [8]:
sub_set.pop()

1

In [9]:
first_set = {1, 2, 3}
second_set = {3, 4, 5}
first_set.union(second_set)

{1, 2, 3, 4, 5}

In [10]:
first_set.intersection(second_set)

{3}

In [11]:
first_set & second_set

{3}

In [12]:
first_set.difference(second_set)

{1, 2}

# Tuple

In [13]:
my_tuple = (1, 2, 3)
print(my_tuple)

(1, 2, 3)

In [14]:
my_tuple = (1, "Hello", 3.4)
print(my_tuple)

(1, 'Hello', 3.4)

In [26]:
# Accessing tuple elements using indexing
my_tuple = ('p','e','r','m','i','t')

print(my_tuple[0])   
print(my_tuple[5])
# Negative indexing for accessing tuple elements
print(my_tuple[-1]) 
# slicing
print(my_tuple[1:4])
my_tuple[3][0]   
print(my_tuple)

p
t
t
('e', 'r', 'm')
('p', 'e', 'r', 'm', 'i', 't')

In [21]:
print((1, 2, 3) + (4, 5, 6))
print(("Repeat",) * 3)

(1, 2, 3, 4, 5, 6)
('Repeat', 'Repeat', 'Repeat')

# Dictionary

In [28]:
my_dict = {'name': 'Jack', 'age': 26}
print(my_dict['name'])
print(my_dict.get('age'))
print(my_dict.get('address'))
print(my_dict['address'])

Jack
26
None

KeyError: ignored

In [29]:
# Changing and adding Dictionary Elements
my_dict = {'name': 'Jack', 'age': 26}

my_dict['age'] = 27
print(my_dict)
my_dict['address'] = 'Downtown'
print(my_dict)

{'name': 'Jack', 'age': 27}
{'name': 'Jack', 'age': 27, 'address': 'Downtown'}

In [30]:
squares = {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
print(squares.pop(4))

print(squares)

print(squares.popitem())

print(squares)

squares.clear()

print(squares)

del squares

16
{1: 1, 2: 4, 3: 9, 5: 25}
(5, 25)
{1: 1, 2: 4, 3: 9}
{}